.word{
    margin-bottom: 10px;
}

.table-link{
    color: #34bf36;
}

.table-link:hover{
    text-decoration: none !important;
    color: #34bf36;
}


.pagination>ul{
    padding: 0;
    margin: 0;
    list-style: none !important;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.active>a{
    color: #303030 !important;
}

.disabled>a{
    color: gray !important;
}

.pagination a {
    color: #34bf36;
}

.pagination a:hover {
    color: #34bf36;
    text-decoration: none;
}

.pagination a.disabled {
    color: gainsboro;
    cursor: not-allowed;
}


.pagination ul li{
    margin-left: 10px;
    margin-right: 10px;
}
