.button{
    border-radius:10px;
    background-color: transparent;
    border: 1px solid rgb(183, 183, 183);
    color: #303030;
}

.button:hover{
    background-color: rgba(233, 233, 233, 0.6);
    border: 1px solid rgb(183, 183, 183);
    color: #303030;
}

.button:focus, .button:active{
    -webkit-box-shadow: none ;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: rgba(233, 233, 233, 0.6) !important;
    border: 1px solid rgb(183, 183, 183) !important;
    color: #303030 !important;
}
